.App {
  text-align: center;
  background-color: #02102e;
}


.App-header {
  background-color: #02102e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
