
.filters {
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
    align-items: center;
    display: flex;
    gap: 20px;

}

.filters h3 {
    justify-content: left;
    font-size: 18px;
    margin: 0;
    text-align: left;
}


.nav-bar-filters {
  list-style: none;
  display: flex;
  gap: 15px; /* space between list items */
  padding: 0;
  margin: 0;
}


.nav-bar-filters li {
    text-decoration: none;
    display: inline;
    padding: 10px;
    list-style: none;
    font-size:18px;
}

.games-poster {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 300px);
    width: max-content;
    margin: 0 auto;
    list-style: none;
    padding: 15px;
    gap: 20px;
}

.poster-item {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding: 0;
    
}

.game-container {
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.561);
    border-radius: 8px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}

.container-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    background: black;
}

.game-info {
    text-align: left;
    margin-left: 10px;
}